
body {
    background: url('marblebg.jpg');
    background-size: cover;
    font-family: Shadows Into Light;
}

.cell {
    font-size: 80px;
}

#result {
    font-size: 25px;
    margin-bottom: 25px;
    height: 40px;
}

#board {
    padding: 3em;
    text-align: center;
}

h1 {
    color: lightgray;
    background-color: black;
    display: inline-block;
    font-size: 50px;
    width: 7em;
    border: .10em;
    border-style: solid;
    border-color: black;
    border-radius: .2em;
}

.row {
    clear: both;
    margin: 0 auto;
    text-align: center;
    width: 302px;
}

.lefttop {
    float: left;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}

.centertop {
    float: left;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}

.righttop {
    float: left;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px black solid;
}

.leftmid {
    float: left;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}

.centermid {
    float: left;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}

.rightmid {
    float: left;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px black solid;
}

.leftbot {
    float: left;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px black solid;
}

.centerbot {
    float: left;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px black solid;
}

.rightbot {
    float: left;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:hover {
    cursor: pointer;
    background-color: lightseagreen;
}

#reset-button {
    clear: both;
    margin: 0 auto;
    margin-top: 125px;
    text-align: center;
    width: 302px;
}

.button {
    font-family: Shadows Into Light;
    background-color: black;
    color: lightgray;
}